
body{
  font-family: 'Eagle Lake', cursive;
  background-color:#31524a;
  color:#DCDCDC;
  font-size: 32px;
}

.links{
  display: block;
}

.info {
  display: flex;
}

a{
   font-family: 'Lato', sans-serif;
   font-size: 20px;
   justify-content: center;
   align-items: center;
   display: block;
   color:#d2cfcf;
   border: 2px solid gainsboro;
   width: 256px;
   height: 50px;
   margin: 20px 0px 0px 15px
 }

 a:hover{
   color:#31524a;
   background-color:#d2cfcf;
 }

img {

}
