.nav-bar nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FF87E7;
  height: 60px;
  width: 1920px;
}

.nav-bar{
  display: flex;

}

.nav-bar a{
  float: right;
}

.nav-bar a{
display: inline;
padding-left: 10px;
padding-right: 10px;
font-size: 30px;
}

a{
  color: white;
}
body{
  background-color: #171717;
  margin: 0;
  padding: 0;
}

.featured-image {
  position: relative;
  text-align: center;
  opacity: 50%;
}


.container h2{
  color: white;
  font-size: 45px
}
p{
  color: white;
}

.container{
  display: flex;
  width: 1824px;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
  justify-content: space-between;
}

.middle-column nav{
  background-color: #FF87E7;
  height: 105px;
  width: 294px;
  border-radius: 30px;
}


.middle-coulmn{

}

.middle-column a{
  font-size: 60px
}

.left-column p{
  width:596px;
  height: 365px;
  overflow: auto;
  font-size: 20px;
}
.left-column a{
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.bio{
  width:1056px;
  height: 480px;
  overflow: auto;
  font-size: 25px;
}
