.nav-bar nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FF87E7;
  height: 60px;
  width: 1920px;
}

.nav-bar{
  display: flex;

}

.nav-bar a{
  float: right;
}

.nav-bar a{
display: inline;
padding-left: 10px;
padding-right: 10px;
font-size: 30px;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 30px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #171717;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FF87E7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

h1{
  color: white;
  font-size: 100px;
  text-align: center;
}

a{
  color: white;
  text-decoration: none;
}
body{
  background-color: #171717;
  margin: 0;
  padding: 0;
}

.featured-image {
  position: relative;
  text-align: center;
  opacity: 50%;
}


.container h2{
  color: white;
  font-size: 45px
}
p{
  color: white;
}

.container{
  display: flex;
  width: 1824px;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
  justify-content: space-between;
}

.middle-column nav{
  background-color: #FF87E7;
  height: 105px;
  width: 294px;
  border-radius: 30px;
}


.middle-coulmn{

}

.middle-column a{
  font-size: 60px
}

.left-column p{
  width:596px;
  height: 365px;
  overflow: auto;
  font-size: 20px;
}
.left-column a{
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.bio{
  width:1056px;
  height: 480px;
  overflow: auto;
  font-size: 25px;
  text-align: left;
}

.band-bio h2{
  text-align: center;
}

.band-bio p{
  width:596px;
  height: 365px;
  overflow: auto;
  font-size: 20px;
  text-align: left;
}

.discography{
  display: flex;
}

.discography img{
  border-radius: 20px;
}

.discography figcaption{
  color: white;
  font-size: 20px;
  padding: 2px;
  text-align: center;
}
